<!doctype html>
<html>
    <head>
        <title>Wellmatch API Reference</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Font (Josefin Sans) #}
        {# <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

        <style>
            :root {
                --scalar-font: "Josefin Sans", sans-serif;
            }
        </style> #}
    </head>

    <body>
        <script id="api-reference" data-url="/openapi/spec.json"></script>

        <script>
            let configuration = {
                theme: 'purple',
            }

            document.getElementById('api-reference').dataset.configuration =
                JSON.stringify(configuration)
        </script>

        <script src="https://cdn.jsdelivr.net/npm/@scalar/api-reference"></script>
    </body>
</html>